footer {
	background-color: $dark-grey;
	padding: 41px 0;

	img {
		max-width: 109px;
		margin-right: 30px;
	}

	p {
		font-size: 12px;
	    font-family: StoneSansIIITCW01-Bk,sans-serif;
	    color: $white;
	    margin-bottom: 0;
	}

	p.disclaimer {
		font-size: 10px;
		margin-top: 15px;
		line-height: 13px;
	}

	ul {
		display: inline-flex;
	    margin: 0;
	    padding: 0;

	    li {
	    	list-style: none;
		    margin-right: 23px;
		    font-family: StoneSansIIITCW01-Bk,sans-serif;
		    font-size: 16px;

		    a {
		    	color: $white;

		    	&:hover {
		    		color: $white;
		    	}
		    }

		    &:last-child {
		    	margin-right: 0;
		    }
	    }
	}
}
