header.hero-bg {
	background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 100%), url(https://www.aon.com/getmedia/e938f10e-d01f-4f0f-a07f-bc3101435d37/hero-bg.aspx);
	background-size: cover;
	height: 90vh;
	min-height: 767px;
	background-repeat: no-repeat;
	position: relative;

	.fullscreen-bg {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    overflow: hidden;
	    

	    .fullscreen-bg__video {
		    position: absolute;
		    top: 0;
		    left: 0;
		    min-width: 100%;
		    min-height: 100%;
		}

		.overlay {
			position: absolute;
		    top: 0;
		    left: 0;
		    min-width: 100%;
		    min-height: 100%;
		    background-color: rgba(0,0,0,0.25);
		    z-index: 1;
		}
	}

	.scroll-down {
		position: absolute;
	    left: 0;
	    bottom: -72px;
	    z-index: 2;
	    justify-content: center;
	    align-items: left;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    width: 100%;
	    cursor: pointer;

	    svg {
	    	margin-left: -44px;

	    	path.bounce {
	    		animation: downFade infinite ease;
				animation-duration: 2.5s;
	    	}
	    }
	}

	.hero-overlay {
		position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    justify-content: center;
	    align-items: left;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    z-index: 3;

	    .text {
	    	max-width: 65%;

	    	h1 {
		    	color: $white;
		    	font-size: 100px;
		    	line-height: 100px;
		    	font-family: Prelo Slab W01 Black;
		    	margin:0 0 35px 0;

		    	&:after {
		    		content: '';
		    		display: flex;
		    		height: 2px;
		    		width: 109px;
		    		background-color: $white;
					margin: 38px 0;
		    	}

		    }

		    p {
		    	a {
					color: $white;
					font-size: 22px;
					font-family: "StoneSansIIITCW01-Bk";
		    	}
		    }
	    }

	    
	}
}
