.nav {
	padding: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;

    .logo {
        img {
            max-width: 105px;
        }
    }

    .cta {

    	display: flex;
    	justify-content: center;
    	align-items: center;

    	.download-report {
            display: flex;
            flex-wrap: wrap;
            a {
            color: $white;
            font-family:"StoneSansIIITCW01-Bk";
            transition: 0.2s ease;
            margin: 0;

            &:first-child {
                margin-right: 25px;
            }
            span {
                margin-left: 10px;

                svg path#hex {
                    fill: transparent;
                    transition: 0.2s ease;
                }
            }

            &:hover {
                text-decoration: none;
                color: $red;

                span svg path#hex {
                    fill:$red;
                }
            }
            
        }
        }


    	.social-icons {
	    	ul {
	    		margin:0;
	    		padding: 0;
	    		list-style: none;
	    		margin-left: 30px;

	    		li {
	    			display: inline-flex;
	    			margin-right: 16px;

	    			&:last-child {
	    				margin-right: 0;
	    			}
	    		}
	    	}
	    }
    }

    &.solid {
        border-bottom: 1px solid $light-grey;
        padding: 20px 40px;

        .logo {
            display: flex;

            img {
                margin-right: 50px;

            }

            a {
                margin: 0;
            }
        }

        .social-icons {
            ul {

                li {
                    display: inline-flex;
                    margin-right: 16px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }


}