
/*****************
* GLOBAL STYLES
*****************/


section.grey-intro {
	background-color: $light-grey;

	h2 {
		color: $red;
	}
}

ul.aon-list {
	margin: 0;
	padding-left: 20px;
	text-align: left;

	li {
		list-style: none;
		padding-left: 10px;
		margin-bottom: 15px;
		position: relative;

		&:after {
			content: "";
		    display: inline-flex;
		    height: 30px;
		    width: 17px;
		    position: absolute;
		    background-image: url(https://www.aon.com/getmedia/0ded2884-7050-429a-8cbd-1705d1a471ba/list-icon.aspx);
		    background-repeat: no-repeat;
		    background-size: 17px 20px;
		    background-position: 0 4px;
		    margin-bottom: 5px;
		    left: -20px;
		    top: 0;
		}

		span {
			display: flex;
			font-size: 18px;
		}
	}
}

ul.aon-list.white {
	li {
		color: $white;

		&:after {
			background-image: url(https://www.aon.com/getmedia/4dc35c83-89c2-4550-9c50-ef50e378be09/list-icon-white.aspx);
		}
	}
}

ul.aon-list.blue {
	li {

		&:after {
			background-image: url(https://www.aon.com/getmedia/656a5f68-98c2-49df-b0f1-0943571ee9f8/list-icon-blue.aspx);
		}
	}
}

section.global-survey {
	padding: 50px 0;
	background-color: $red;

	h2, p, a {
		color: $white;
	}

	.list-section {
		margin: 15px -15px; 
	}
}


/*****************
* HOMEPAGE
*****************/

section.grey-intro.hp {
	padding: 82px 0 107px 0;
}

section.glocal {
	background-color: $white;
	padding-bottom: 147px;

	.glocal-col {
		margin-top: -90.5px;
		justify-content: space-between;
		display: flex;
		flex-direction: column;

		.image--hex {
			text-align: center;
			img {
				margin-bottom: 44px;
			}
		}

		
		h2, p {
			text-align: left;
		}

		&.global {
			h2 {
				color: $red;
			}
		}

	}
}


/*****************
* GlOBAL INTRO 
*****************/
section.global-intro {
	padding: 135px 0;

	h2 {
		color: $red;
	}

	.hex-grid {
		display: flex;
	    flex-wrap: wrap;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    align-items: center;
	    justify-content: center;

		a {
			width: 50%;

			&:nth-child(2) {
				margin-left: -15px;
			}

			&:last-child {
				margin-top: -51px;
			}

			img {
				max-width: 100%;
			}
		}

	} 
}

.panel {
	padding: 58px 0;
	
	h4 {
		font-size: 50px;
		font-family: 'Prelo Slab W01 Book', sans-serif;

		div:hover {
			text-decoration: none;
		}
	}

}

.panel-grey {
	background-color: $light-grey;

	h4 {
		div {
			color: $dark-blue;
		}
	}
}

.panel-white {
	h4 {
		div {
			color: $red;
			width: 100%;
			display: flex;
			align-items: center;
		}
	}
}

.panel-dark-grey {
	background-color: $dark-grey;
	h4 {
		div {
			color: $light-grey;
		}
	}
}


.panel {

	h4 {
		display: flex;
		align-items: center;
		margin:0;

		div {
			width: 100%;
			display: flex;
			align-items: center;
			cursor: pointer;

			span {
				display: inline-flex;
				width: 8.333333%;
				transition: .2s ease;
				justify-content: center;
				transform: rotate(90deg);
				margin-right:10px;
			}
		}
	}
}

.panel {

	h4 {

		div.accordion-toggle.collapsed {
			span {
				transform: rotate(0);
			}
		}
	}
}


.panel-body {
	margin-top: 50px;

	h3 {
		font-family: 'Prelo Slab W01 Bold', sans-serif;
		font-size: 32px;
		margin-bottom: 50px;
		margin-top: 20px;
	}

	h4 {
		font-family: 'Prelo Slab W01 Bold', sans-serif;
		font-size: 22px;
		margin-bottom: 15px;
	}

	h4.xl-size {
		font-size: 26px;
		margin-bottom: 25px;
	}

	.info-item {
		margin-bottom: 50px;
	}

	.list-content {
		margin-left: -30px;
	}
}

.panel-dark-grey {
	h3, h4, ul, li {
		color: $light-grey;
	}
}


/*****************
** LOCAL PAGE
****************/
section.grey-intro.lc {
	padding: 82px 0;
}

section.map-section {
	position: relative;
	overflow: hidden;

	.page-transition__white {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $dark-grey;
		transform: scaleX(0);
		z-index: 999;
	}

	.page-transition__grey {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $red;
		transform: scaleX(0);
		z-index: 999;
	}

	h2 {
		font-size: 45px;
	}

	p.map-lead {
		color: $black;
		font-size: 22px;
		margin-bottom: 35px;
	}
}


.map--world {
	position: relative;
	text-align: center;

	&.hide {
		display:none;
	}

	h2 {
		margin-top: 50px;
		font-family: Prelo Slab W01 Bold,serif;
		color: $dark-grey;
	}

	.map-container {
		margin: 0 auto;
		max-width: 1400px;
		width: 100%;
		display: block;
		padding-bottom: 50px;
		position: relative;
		

		svg {
			max-width: 100%;
			width: 100%;
			height: auto;
		}


		.zoom-buttons {

			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 30px;
			flex-direction: column;
			right: 0;
			bottom: 50px;

			button {
				background-color: $dark-grey;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				border: none;
				outline: 0;
				color: $white;
				font-family: StoneSansIIITCW01-Bk,sans-serif;
				height: 25px;
				width: 70px;
				font-size: 16px;
				opacity: 0.7;
				transition: .2s ease;

				&:hover {
					opacity: 1;
				}

				&.zoom-btn {
					font-size: 22px;
					width: 25px;
					height: 25px;
					display: flex;
					align-items: center;
					justify-content:center;
					line-height: 1em;
					margin: 10px 0;
				}
			}
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

			.map-container {
				height: 0;
				padding-top: 35%;
				position: relative;
				
		
				svg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
		}
	}

}


.country {
	position: relative;
	pointer-events: bounding-box;
	
	&:hover {
		cursor:pointer;
	}
}

.country-info {
	display: none;
	position: relative;

	&.show {
		display: block;
	}

	.country-text {

		margin: 90px 0;


		p.back-to-map {
			text-transform: uppercase;
			font-size: 16px;
			display: flex;
			align-items: center;
			margin: 0;
			line-height: 1em;
			padding: 10px 0;
			margin-bottom: 90px;
			cursor: pointer;

			span {
				margin-right: 25px;
				display: inline-flex;
			}
		}

		h2 {
			font-size: 60px;
			line-height: 49px;
			font-family: Prelo Slab W01 Bold,serif;
			margin-bottom: 55px;
			position: relative;
		}

		p.country-bullet {
			display: flex;
			align-items: center;

			span {
				margin-right: 16px;
			}
		}

		a.dark-ghost {
			margin-top: 67px;
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 50%), linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 7%, rgba(255,255,255,0) 15%)
	}

	&#germany {
		background: url(https://www.aon.com/getmedia/e970e1ac-f3cd-4299-99fd-fb2ea3ceb292/germany.aspx);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 75%;
	}
	&#netherlands {
		background: url(https://www.aon.com/getmedia/b10550c0-75d4-4b29-ba52-d96c03773ff6/netherlands.aspx);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 75%;
	}

	&#uk {
		background: url(https://www.aon.com/getmedia/5d1e0b23-0c46-4111-b5ea-6dd5d1fbf12c/uk.aspx);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 75%;
	}

	&#ireland{
		background: url(https://www.aon.com/getmedia/232614af-5b35-4bed-96ec-30d1eec1f4aa/ireland.aspx);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 75%;
	}

	&#switzerland{
		background: url(https://www.aon.com/getmedia/d8ff0037-22d7-4d61-87b4-9026fcf67a0c/switzerland.aspx);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
	}

	&#canada{
		background: url(https://www.aon.com/getmedia/89e6ddbb-bbd5-4bd1-8188-92b5bdc318ae/canada.aspx);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
	}

	&#us{
		background: url(https://www.aon.com/getmedia/2462ae17-5b2f-4032-812a-8eaa5adb8aea/us.aspx);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
	}

	&#asia{
		background: url(https://www.aon.com/getmedia/f9f289aa-7294-4ec9-993f-a062fce812e2/asia.aspx);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 75%;
		background-position: bottom;
	}

	&#multinationals {
		background: url(https://www.aon.com/getmedia/d31753ec-4fcc-4489-9858-7a61aaf571d8/multinationals.aspx);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
	}
}

.legend {
	height: 0;
	position: relative;
	overflow: hidden;
	
	.inner--reveal {
		margin-bottom: 100px;
		opacity:0;
	}


	.border-top {
		border-color: $light-grey;
	}

	.inner-reveal {
		position: absolute;
		z-index: 200;
	}

	h4 {
		font-family: Prelo Slab W01 Bold,serif;
		font-size: 24px;
		margin: 25px 0;
	}

	p.country-bullet {
		display: flex;
		text-transform: uppercase;
		font-size: 14px;
		font-family:"StoneSansITCW01-Medium";

		span {
			margin-right: 10px;
		}
	}
}



.hexagon {
	position: relative;
	width: 20px; 
	height: 11.55px;
	background-color: $light-blue;
	margin: 5.77px 0;
	display: inline-flex;
  }
  
  .hexagon:before,
  .hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  }
  
  .hexagon:before {
	bottom: 100%;
	border-bottom: 5.77px solid $light-blue;
  }
  
  .hexagon:after {
	top: 100%;
	width: 0;
	border-top: 5.77px solid $light-blue;
  }

  .hexagon.yellow {
	background-color: $yellow;

	&:before, 
	&:after {
		border-top-color: $yellow;
		border-bottom-color: $yellow;
	}
  }

  .hexagon.green {
	background-color: $green;

	&:before, 
	&:after {
		border-top-color: $green;
		border-bottom-color: $green;
	}
  }

/*****************
** MODALS
****************/

.modal-cf {
	display: none; 
  position: fixed; 
  z-index: 10; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 

  .form-modal {
		background-color: #7C7B7B;
		width: 100%;
		padding: 60px 120px;
		position: relative;

		.close-btn {
		  position: absolute;
		  top: 24px;
		  right: 24px;
		  cursor: pointer;
		}

		h3 {
			color: $white;
			font-family: Prelo Slab W01 Bold,serif;
			font-size: 30px;
			margin-bottom: 20px;
		}
		
	}

	&.show {
		display: block;
	}
}

.modal-cf.map-update {
	
	.form-modal {
		background-color: $red;
	}

}


.modal-new-map {
	display: none;
  position: fixed; 
  z-index: 10; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 

  .inner-modal {
		background-color: $red;
		width: 100%;
		padding: 60px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		max-width: 900px;
		margin: 0 auto;

		.close-btn {
		  position: absolute;
		  top: 24px;
		  right: 24px;
		  cursor: pointer;
		}

		h3 {
			color: $white;
			font-family: Prelo Slab W01 Bold,serif;
			font-size: 42px;
			margin-bottom: 20px;

			span {
				font-family: Prelo Slab W01 Book,serif;
			}
		}
		
	}

	&.show {
		display: block;
	}
}

/*****************
** CONTACT
****************/

.modal-cf form {
	width: 100%;
}

input[type="text"], 
input[type="email"], 
select, textarea {
		background-color: $white;
		color: $black;
		padding: 11px 19px;
		appearance: none;
		border:none;
		outline: none;
		width: 100%;
		font-size: 16px;
		font-family: 'StoneSansIIITCW01-Bk', sans-serif;
		margin-bottom: 25px;
		border-radius: 0;
}

button.submit {
	appearance: none;
	border: none;
	background-color: transparent;
	padding:0;
	margin:0;
	font-family: 'Prelo Slab W01 Bold', serif;
	text-transform: uppercase;
	font-size: 20px;
	color: $black;
	display: inline-flex;
	align-items: center;
	transition: .2s ease;
	color: $white;

	&:hover {
		color: $black;
		text-decoration: none;

		span svg path {
			stroke: $black;
		}
	}

	span {
		margin-left: 14px;

		svg path {
			transition: .2s ease;
		}
	}
}

::placeholder { 
  color: $black;
  opacity: 1; 
}

.opt-out-info {
	margin-top: 20px;
	label {
		font-size: 12px;
		color: $white;
		font-family: 'StoneSansIIITCW01-Bk', sans-serif;

		a {
			color: $white;
			text-decoration: underline;
		}
	}
}

.request-options {
	margin: 12px 0 22px 0;
}

label {
	color: $white;
	font-size: 16px;
	font-family: 'StoneSansIIITCW01-Bk', sans-serif;
	width: 100%;
	-webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;

	  &.error {
	  	margin-top: -25px;
	    display: block;
	    margin-bottom: 25px;
	    font-family: 'StoneSansIIITCW01-Bk', sans-serif;
	    font-style: italic;
	  }

	  &.checkbox-true {
	  	display: flex;
	  	align-items: center;
	  	padding-right: 25px;

	  }

	  input[type="checkbox"] {
		position: absolute;
		cursor: pointer;
		height: 0;
		width: 0;
		opacity: 0;
	}
	.checkmark {
		position: absolute;
		height: 25px;
		width: 25px;
		margin-left: 10px;
		border: 2px solid $white;
		left: 50%;

		&.opt-out-check {
			position: relative;
			display: flex;
			left: 0;
		}

		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 9px;
			top: 5px;
			width: 7px;
			height: 13px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	input:checked + .checkmark {
	  background-color: $black;
	  border: none;
	}
	input:checked + .checkmark:after {
	  display: block;
	}
}
