@media only screen and (max-width:1400px) {

}

@media only screen and (max-width:1200px) {

	section.global-intro {

		.hex-grid {

			a {

				&:last-child {
					margin-top: -45px;
				}
			}

		} 
	}


	.country-info {

		.overlay {
			background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%), linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 15%, rgba(255,255,255,0) 30%)
		}
	}

}

@media only screen and (max-width:992px) {
	header.hero-bg .hero-overlay .text {
		max-width: 100%;
	}

	section.global-intro {

		.hex-grid {

			a {

				&:last-child {
					margin-top: -35px;
				}
			}

		} 
	}

	//Global Page 
	.panel-body .list-content {
		margin-left: 0;
	}


	
}

@media only screen and (max-width:767px) { 

	header.hero-bg .hero-overlay .text {
		h1 {
			font-size:80px;
			line-height: 80px;
		}
	}


	section.glocal {
		background-color: $white;
		padding-bottom: 147px;

		.glocal-col {

			&:last-of-type {
				margin-top: 100px;
			}
		

			.image--hex {
				text-align: center;
				img {
					margin-bottom: 44px;
				}
			}
		}
	}


	// Global Page 
	section.global-intro {

		.hex-grid {
			
			margin-top: 30px;
			a {

				&:last-child {
					margin-top: -50px;
				}
			}

		} 
	}


	.modal-new-map {
		.inner-modal {
			h3 {
				font-size: 28px;
			}
		}
	}

	.country-info {

		.overlay {
			background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%), linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 15%, rgba(255,255,255,0) 55%)
		}

	}



	

}

@media only screen and (max-width: 600px) {

	h2 {
		font-size: 32px;
    	line-height: 1.25em;
	}

	p, ul, li {
		font-size: 18px;
		line-height: 1.25em;
	}

	a.red-full, a.dark-ghost {
	    font-family:"Prelo Slab W01 Bold";
	    font-size: 18px;
	}

	.nav {
		padding: 30px 20px 45px;

		.logo {


			img {
				width: 100%;
				height:auto;
				max-width: 60px;
			}
		}

		.cta {
			font-size: 13px;

			.download-report {
				white-space: nowrap;
				margin-right: 5px;

				a span {
					margin-left: 3px;

					svg {
						width: 20px;
					}
				}
			}

			.social-icons {
				ul {
					margin: 0;

					li {
						margin: 0 3px;
					}
				}
			}
		}

		 &.solid {
		 	padding:20px;
		 }
	}

	header.hero-bg {

		min-height: 80vh;
		padding-bottom: 100px;
		background-position: center;

		.hero-overlay {
			text-align: center;

			.container .text {
				max-width: 100%;

				h1 {
					font-size: 50px;
    				line-height: 50px;
				}

				h1::after {
					margin: 30px auto;
				}
			}
		}

		.scroll-down {
			position: absolute;
		    bottom: -61px;
		    text-align: center;
		    z-index: 2;
		    justify-content: center;
		    align-items: center;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    width: 100%;

		    svg {
		    	margin-left: 0px;
		    	max-width: 120px;
		    	height: auto;
		    }
		}
	}
	

	// Global Page 
	section.global-intro {
		padding: 100px 0;

		.hex-grid {

			a {

				&:last-child {
					margin-top: -50px;
				}
			}

		} 
	}

	.panel {
		padding: 58px 0;
		
		h4 {
			font-size: 32px;

			div span svg {
				max-width: 20px;
			}
		}
	}

	// Local page 
	
	section.map-section {

		h2 {
			font-size: 32px;
		}

		p.map-lead {
			font-size: 18px;
		}
	}

	.country-info {

		.country-text {

			h2 {
				font-size: 38px;;
			}
		}
	}


	.modal .form-modal {
		padding: 60px;
	}

	label .checkmark {
		right: 0;
		left: auto;
	}


	footer {
		text-align: center;

		img {
			max-width: 80px;
			margin:0;
		}

		p {
			margin-bottom: 30px;
		}

		ul {

			margin: 20px 0;
			justify-content: center;
			align-items: center;
			display: flex;

			li {
				font-size: 14px;
			}
		}

		p.disclaimer {
			text-align:center;
		}
	}

}

@media only screen and (max-width:420px) {
	

	.nav {

		
		 	padding:20px;
		 	flex-direction: row;
		 	.cta {
		 		display: flex;
		 		flex-direction: row;
	            .download-report {
	            	margin: 15px 0;
	            	justify-content: center;
	            	margin-right: 15px;

	            	img {
	            		max-width:30px;

	            	}
	                a {
	                    &:first-child {
	                        margin-right: 0;
	                    }
	                }
	            }
	        }
		 }

	// Global Page 
	section.global-intro {

		.hex-grid {

			a {

				&:last-child {
					margin-top: -38px;
				}
			}

		} 
	}
	
}


/** IE11 Media Queries **/
