a.btn-dl {
	font-family: Prelo Slab W01 Bold,serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #4d4f53;
    margin-top: 24px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    transition: .2s ease;

	span {
		margin-left: 14px;
	}

	&:hover {
		text-decoration: none;
		color: $red;
	}
}


a.btn-square {
	font-size: 18px;
	color: $white;
	display: flex;
	border: 1px solid $white;
	justify-content: center;
	align-items: center;
	margin-top: 39px;
	padding: 16px 22px;
	box-sizing: border-box;
	font-family: Prelo Slab W01 Bold,serif;
	transition: .2s ease-in-out;

	&:hover {
		border-color: $black;
		color: $black;
		text-decoration: none;
	}

}


a.update-map-btn {
    		color: $black;
    		font-family:"StoneSansITCW01-SemiBol_735693";
            transition: .2s ease;
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            

    		span {
    			margin-left: 10px;

                svg path#hex {
                    fill: $black;
                    transition: .2s ease;
                }
    		}

            &:hover {
                text-decoration: none;
                color: $red;

                span svg path#hex {
                    fill:$red;
                }
            }

            &:first-child {
                margin-right: 25px;
            }
    		
    	}

a.update-map-btn.reverse {
	span {
		margin-right: 10px;
		margin-left: 0;

	}
}


a.red-full {
    background-color: $red;
    color: $white;
    font-family:"Prelo Slab W01 Bold";
    font-size: 26px;
    padding: 10px 50px;
    display: inline-flex;
    margin-top: 25px;
    transition: .2s ease;
    text-align: left;

    &:hover {
        background-color: $dark-grey;
        text-decoration: none;
    }
}

a.dark-ghost {
    color: $dark-grey;
    border: 3px solid $dark-grey;
    font-family:"Prelo Slab W01 Bold";
    font-size: 26px;
    padding: 9px 28px;
    display: inline-flex;
    margin-top: 25px;
    transition: .2s ease;
    text-align: left;
    cursor: pointer;

    &:hover {
        border-color: $red;
        color: $red !important;
        text-decoration: none;
    }
}