* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Prelo Slab W01 Book', sans-serif;
  font-size: 16px;
  color: #444;
  transition: all .4s .3s ease-in;
}