@font-face {
  font-family: 'Font-Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
       url('../fonts/font-name.woff') format('woff'),
       url('../fonts/font-name.ttf') format('truetype'),
       url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}

h2 {
	font-size: 50px;
    font-family: 'Prelo Slab W01 Book', sans-serif;
    margin: 0 0 47px;
    line-height: 49px;
}

p, ul, li {
  font-size: 22px;
  color: $dark-grey;
  line-height: 28px;
  font-family: StoneSansIIITCW01-Bk,sans-serif;
}

