$dark-grey: #4D4F53;
$light-grey: #E4E4E4;
$red: #e11b22;
$white: #ffffff;
$black: #000000;
$dark-blue: #00338D;

$purple: #6E267B;
$green: #7AB800;
$yellow:#F0AB00;
$light-blue:#0083A9;

$baby-blue: #5EB6E4;