.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  font-family: 'Prelo Slab W01 Book', sans-serif;
  font-size: 16px;
  color: #444;
  transition: all .4s .3s ease-in; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

header.hero-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(https://www.aon.com/getmedia/e938f10e-d01f-4f0f-a07f-bc3101435d37/hero-bg.aspx);
  background-size: cover;
  height: 90vh;
  min-height: 767px;
  background-repeat: no-repeat;
  position: relative; }
  header.hero-bg .fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; }
    header.hero-bg .fullscreen-bg .fullscreen-bg__video {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%; }
    header.hero-bg .fullscreen-bg .overlay {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 1; }
  header.hero-bg .scroll-down {
    position: absolute;
    left: 0;
    bottom: -72px;
    z-index: 2;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: left;
        align-items: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    cursor: pointer; }
    header.hero-bg .scroll-down svg {
      margin-left: -44px; }
      header.hero-bg .scroll-down svg path.bounce {
        animation: downFade infinite ease;
        animation-duration: 2.5s; }
  header.hero-bg .hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: left;
        align-items: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 3; }
    header.hero-bg .hero-overlay .text {
      max-width: 65%; }
      header.hero-bg .hero-overlay .text h1 {
        color: #ffffff;
        font-size: 100px;
        line-height: 100px;
        font-family: Prelo Slab W01 Black;
        margin: 0 0 35px 0; }
        header.hero-bg .hero-overlay .text h1:after {
          content: '';
          display: -ms-flexbox;
          display: flex;
          height: 2px;
          width: 109px;
          background-color: #ffffff;
          margin: 38px 0; }
      header.hero-bg .hero-overlay .text p a {
        color: #ffffff;
        font-size: 22px;
        font-family: "StoneSansIIITCW01-Bk"; }

.nav {
  padding: 40px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 10; }
  .nav .logo img {
    max-width: 105px; }
  .nav .cta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
    .nav .cta .download-report {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .nav .cta .download-report a {
        color: #ffffff;
        font-family: "StoneSansIIITCW01-Bk";
        transition: 0.2s ease;
        margin: 0; }
        .nav .cta .download-report a:first-child {
          margin-right: 25px; }
        .nav .cta .download-report a span {
          margin-left: 10px; }
          .nav .cta .download-report a span svg path#hex {
            fill: transparent;
            transition: 0.2s ease; }
        .nav .cta .download-report a:hover {
          text-decoration: none;
          color: #e11b22; }
          .nav .cta .download-report a:hover span svg path#hex {
            fill: #e11b22; }
    .nav .cta .social-icons ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-left: 30px; }
      .nav .cta .social-icons ul li {
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 16px; }
        .nav .cta .social-icons ul li:last-child {
          margin-right: 0; }
  .nav.solid {
    border-bottom: 1px solid #E4E4E4;
    padding: 20px 40px; }
    .nav.solid .logo {
      display: -ms-flexbox;
      display: flex; }
      .nav.solid .logo img {
        margin-right: 50px; }
      .nav.solid .logo a {
        margin: 0; }
    .nav.solid .social-icons ul li {
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 16px; }
      .nav.solid .social-icons ul li:last-child {
        margin-right: 0; }

footer {
  background-color: #4D4F53;
  padding: 41px 0; }
  footer img {
    max-width: 109px;
    margin-right: 30px; }
  footer p {
    font-size: 12px;
    font-family: StoneSansIIITCW01-Bk,sans-serif;
    color: #ffffff;
    margin-bottom: 0; }
  footer p.disclaimer {
    font-size: 10px;
    margin-top: 15px;
    line-height: 13px; }
  footer ul {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0; }
    footer ul li {
      list-style: none;
      margin-right: 23px;
      font-family: StoneSansIIITCW01-Bk,sans-serif;
      font-size: 16px; }
      footer ul li a {
        color: #ffffff; }
        footer ul li a:hover {
          color: #ffffff; }
      footer ul li:last-child {
        margin-right: 0; }

a.btn-dl {
  font-family: Prelo Slab W01 Bold,serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #4d4f53;
  margin-top: 24px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  transition: .2s ease; }
  a.btn-dl span {
    margin-left: 14px; }
  a.btn-dl:hover {
    text-decoration: none;
    color: #e11b22; }

a.btn-square {
  font-size: 18px;
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ffffff;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 39px;
  padding: 16px 22px;
  box-sizing: border-box;
  font-family: Prelo Slab W01 Bold,serif;
  transition: .2s ease-in-out; }
  a.btn-square:hover {
    border-color: #000000;
    color: #000000;
    text-decoration: none; }

a.update-map-btn {
  color: #000000;
  font-family: "StoneSansITCW01-SemiBol_735693";
  transition: .2s ease;
  margin-bottom: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  a.update-map-btn span {
    margin-left: 10px; }
    a.update-map-btn span svg path#hex {
      fill: #000000;
      transition: .2s ease; }
  a.update-map-btn:hover {
    text-decoration: none;
    color: #e11b22; }
    a.update-map-btn:hover span svg path#hex {
      fill: #e11b22; }
  a.update-map-btn:first-child {
    margin-right: 25px; }

a.update-map-btn.reverse span {
  margin-right: 10px;
  margin-left: 0; }

a.red-full {
  background-color: #e11b22;
  color: #ffffff;
  font-family: "Prelo Slab W01 Bold";
  font-size: 26px;
  padding: 10px 50px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 25px;
  transition: .2s ease;
  text-align: left; }
  a.red-full:hover {
    background-color: #4D4F53;
    text-decoration: none; }

a.dark-ghost {
  color: #4D4F53;
  border: 3px solid #4D4F53;
  font-family: "Prelo Slab W01 Bold";
  font-size: 26px;
  padding: 9px 28px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 25px;
  transition: .2s ease;
  text-align: left;
  cursor: pointer; }
  a.dark-ghost:hover {
    border-color: #e11b22;
    color: #e11b22 !important;
    text-decoration: none; }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

h2 {
  font-size: 50px;
  font-family: 'Prelo Slab W01 Book', sans-serif;
  margin: 0 0 47px;
  line-height: 49px; }

p, ul, li {
  font-size: 22px;
  color: #4D4F53;
  line-height: 28px;
  font-family: StoneSansIIITCW01-Bk,sans-serif; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

@keyframes downFade {
  0% {
    opacity: 0;
    transform: translateY(-15px); }
  100% {
    opacity: 1;
    transform: translateY(15px); } }

/*****************
* GLOBAL STYLES
*****************/
section.grey-intro {
  background-color: #E4E4E4; }
  section.grey-intro h2 {
    color: #e11b22; }

ul.aon-list {
  margin: 0;
  padding-left: 20px;
  text-align: left; }
  ul.aon-list li {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 15px;
    position: relative; }
    ul.aon-list li:after {
      content: "";
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 30px;
      width: 17px;
      position: absolute;
      background-image: url(https://www.aon.com/getmedia/0ded2884-7050-429a-8cbd-1705d1a471ba/list-icon.aspx);
      background-repeat: no-repeat;
      background-size: 17px 20px;
      background-position: 0 4px;
      margin-bottom: 5px;
      left: -20px;
      top: 0; }
    ul.aon-list li span {
      display: -ms-flexbox;
      display: flex;
      font-size: 18px; }

ul.aon-list.white li {
  color: #ffffff; }
  ul.aon-list.white li:after {
    background-image: url(https://www.aon.com/getmedia/4dc35c83-89c2-4550-9c50-ef50e378be09/list-icon-white.aspx); }

ul.aon-list.blue li:after {
  background-image: url(https://www.aon.com/getmedia/656a5f68-98c2-49df-b0f1-0943571ee9f8/list-icon-blue.aspx); }

section.global-survey {
  padding: 50px 0;
  background-color: #e11b22; }
  section.global-survey h2, section.global-survey p, section.global-survey a {
    color: #ffffff; }
  section.global-survey .list-section {
    margin: 15px -15px; }

/*****************
* HOMEPAGE
*****************/
section.grey-intro.hp {
  padding: 82px 0 107px 0; }

section.glocal {
  background-color: #ffffff;
  padding-bottom: 147px; }
  section.glocal .glocal-col {
    margin-top: -90.5px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    section.glocal .glocal-col .image--hex {
      text-align: center; }
      section.glocal .glocal-col .image--hex img {
        margin-bottom: 44px; }
    section.glocal .glocal-col h2, section.glocal .glocal-col p {
      text-align: left; }
    section.glocal .glocal-col.global h2 {
      color: #e11b22; }

/*****************
* GlOBAL INTRO 
*****************/
section.global-intro {
  padding: 135px 0; }
  section.global-intro h2 {
    color: #e11b22; }
  section.global-intro .hex-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    section.global-intro .hex-grid a {
      width: 50%; }
      section.global-intro .hex-grid a:nth-child(2) {
        margin-left: -15px; }
      section.global-intro .hex-grid a:last-child {
        margin-top: -51px; }
      section.global-intro .hex-grid a img {
        max-width: 100%; }

.panel {
  padding: 58px 0; }
  .panel h4 {
    font-size: 50px;
    font-family: 'Prelo Slab W01 Book', sans-serif; }
    .panel h4 div:hover {
      text-decoration: none; }

.panel-grey {
  background-color: #E4E4E4; }
  .panel-grey h4 div {
    color: #00338D; }

.panel-white h4 div {
  color: #e11b22;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.panel-dark-grey {
  background-color: #4D4F53; }
  .panel-dark-grey h4 div {
    color: #E4E4E4; }

.panel h4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 0; }
  .panel h4 div {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer; }
    .panel h4 div span {
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 8.333333%;
      transition: .2s ease;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
      margin-right: 10px; }

.panel h4 div.accordion-toggle.collapsed span {
  -ms-transform: rotate(0);
      transform: rotate(0); }

.panel-body {
  margin-top: 50px; }
  .panel-body h3 {
    font-family: 'Prelo Slab W01 Bold', sans-serif;
    font-size: 32px;
    margin-bottom: 50px;
    margin-top: 20px; }
  .panel-body h4 {
    font-family: 'Prelo Slab W01 Bold', sans-serif;
    font-size: 22px;
    margin-bottom: 15px; }
  .panel-body h4.xl-size {
    font-size: 26px;
    margin-bottom: 25px; }
  .panel-body .info-item {
    margin-bottom: 50px; }
  .panel-body .list-content {
    margin-left: -30px; }

.panel-dark-grey h3, .panel-dark-grey h4, .panel-dark-grey ul, .panel-dark-grey li {
  color: #E4E4E4; }

/*****************
** LOCAL PAGE
****************/
section.grey-intro.lc {
  padding: 82px 0; }

section.map-section {
  position: relative;
  overflow: hidden; }
  section.map-section .page-transition__white {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4D4F53;
    -ms-transform: scaleX(0);
        transform: scaleX(0);
    z-index: 999; }
  section.map-section .page-transition__grey {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #e11b22;
    -ms-transform: scaleX(0);
        transform: scaleX(0);
    z-index: 999; }
  section.map-section h2 {
    font-size: 45px; }
  section.map-section p.map-lead {
    color: #000000;
    font-size: 22px;
    margin-bottom: 35px; }

.map--world {
  position: relative;
  text-align: center; }
  .map--world.hide {
    display: none; }
  .map--world h2 {
    margin-top: 50px;
    font-family: Prelo Slab W01 Bold,serif;
    color: #4D4F53; }
  .map--world .map-container {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    display: block;
    padding-bottom: 50px;
    position: relative; }
    .map--world .map-container svg {
      max-width: 100%;
      width: 100%;
      height: auto; }
    .map--world .map-container .zoom-buttons {
      position: absolute;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      padding: 0 30px;
      -ms-flex-direction: column;
          flex-direction: column;
      right: 0;
      bottom: 50px; }
      .map--world .map-container .zoom-buttons button {
        background-color: #4D4F53;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: 0;
        color: #ffffff;
        font-family: StoneSansIIITCW01-Bk,sans-serif;
        height: 25px;
        width: 70px;
        font-size: 16px;
        opacity: 0.7;
        transition: .2s ease; }
        .map--world .map-container .zoom-buttons button:hover {
          opacity: 1; }
        .map--world .map-container .zoom-buttons button.zoom-btn {
          font-size: 22px;
          width: 25px;
          height: 25px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          line-height: 1em;
          margin: 10px 0; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .map--world .map-container {
      height: 0;
      padding-top: 35%;
      position: relative; }
      .map--world .map-container svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }

.country {
  position: relative;
  pointer-events: bounding-box; }
  .country:hover {
    cursor: pointer; }

.country-info {
  display: none;
  position: relative; }
  .country-info.show {
    display: block; }
  .country-info .country-text {
    margin: 90px 0; }
    .country-info .country-text p.back-to-map {
      text-transform: uppercase;
      font-size: 16px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      margin: 0;
      line-height: 1em;
      padding: 10px 0;
      margin-bottom: 90px;
      cursor: pointer; }
      .country-info .country-text p.back-to-map span {
        margin-right: 25px;
        display: -ms-inline-flexbox;
        display: inline-flex; }
    .country-info .country-text h2 {
      font-size: 60px;
      line-height: 49px;
      font-family: Prelo Slab W01 Bold,serif;
      margin-bottom: 55px;
      position: relative; }
    .country-info .country-text p.country-bullet {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .country-info .country-text p.country-bullet span {
        margin-right: 16px; }
    .country-info .country-text a.dark-ghost {
      margin-top: 67px; }
  .country-info .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, white 0%, white 10%, rgba(255, 255, 255, 0) 50%), linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.5) 7%, rgba(255, 255, 255, 0) 15%); }
  .country-info#germany {
    background: url(https://www.aon.com/getmedia/e970e1ac-f3cd-4299-99fd-fb2ea3ceb292/germany.aspx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%; }
  .country-info#netherlands {
    background: url(https://www.aon.com/getmedia/b10550c0-75d4-4b29-ba52-d96c03773ff6/netherlands.aspx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%; }
  .country-info#uk {
    background: url(https://www.aon.com/getmedia/5d1e0b23-0c46-4111-b5ea-6dd5d1fbf12c/uk.aspx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%; }
  .country-info#ireland {
    background: url(https://www.aon.com/getmedia/232614af-5b35-4bed-96ec-30d1eec1f4aa/ireland.aspx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%; }
  .country-info#switzerland {
    background: url(https://www.aon.com/getmedia/d8ff0037-22d7-4d61-87b4-9026fcf67a0c/switzerland.aspx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right; }
  .country-info#canada {
    background: url(https://www.aon.com/getmedia/89e6ddbb-bbd5-4bd1-8188-92b5bdc318ae/canada.aspx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right; }
  .country-info#us {
    background: url(https://www.aon.com/getmedia/2462ae17-5b2f-4032-812a-8eaa5adb8aea/us.aspx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right; }
  .country-info#asia {
    background: url(https://www.aon.com/getmedia/f9f289aa-7294-4ec9-993f-a062fce812e2/asia.aspx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;
    background-position: bottom; }
  .country-info#multinationals {
    background: url(https://www.aon.com/getmedia/d31753ec-4fcc-4489-9858-7a61aaf571d8/multinationals.aspx);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; }

.legend {
  height: 0;
  position: relative;
  overflow: hidden; }
  .legend .inner--reveal {
    margin-bottom: 100px;
    opacity: 0; }
  .legend .border-top {
    border-color: #E4E4E4; }
  .legend .inner-reveal {
    position: absolute;
    z-index: 200; }
  .legend h4 {
    font-family: Prelo Slab W01 Bold,serif;
    font-size: 24px;
    margin: 25px 0; }
  .legend p.country-bullet {
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "StoneSansITCW01-Medium"; }
    .legend p.country-bullet span {
      margin-right: 10px; }

.hexagon {
  position: relative;
  width: 20px;
  height: 11.55px;
  background-color: #0083A9;
  margin: 5.77px 0;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.hexagon:before {
  bottom: 100%;
  border-bottom: 5.77px solid #0083A9; }

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #0083A9; }

.hexagon.yellow {
  background-color: #F0AB00; }
  .hexagon.yellow:before, .hexagon.yellow:after {
    border-top-color: #F0AB00;
    border-bottom-color: #F0AB00; }

.hexagon.green {
  background-color: #7AB800; }
  .hexagon.green:before, .hexagon.green:after {
    border-top-color: #7AB800;
    border-bottom-color: #7AB800; }

/*****************
** MODALS
****************/
.modal-cf {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }
  .modal-cf .form-modal {
    background-color: #7C7B7B;
    width: 100%;
    padding: 60px 120px;
    position: relative; }
    .modal-cf .form-modal .close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer; }
    .modal-cf .form-modal h3 {
      color: #ffffff;
      font-family: Prelo Slab W01 Bold,serif;
      font-size: 30px;
      margin-bottom: 20px; }
  .modal-cf.show {
    display: block; }

.modal-cf.map-update .form-modal {
  background-color: #e11b22; }

.modal-new-map {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }
  .modal-new-map .inner-modal {
    background-color: #e11b22;
    width: 100%;
    padding: 60px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    max-width: 900px;
    margin: 0 auto; }
    .modal-new-map .inner-modal .close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer; }
    .modal-new-map .inner-modal h3 {
      color: #ffffff;
      font-family: Prelo Slab W01 Bold,serif;
      font-size: 42px;
      margin-bottom: 20px; }
      .modal-new-map .inner-modal h3 span {
        font-family: Prelo Slab W01 Book,serif; }
  .modal-new-map.show {
    display: block; }

/*****************
** CONTACT
****************/
.modal-cf form {
  width: 100%; }

input[type="text"],
input[type="email"],
select, textarea {
  background-color: #ffffff;
  color: #000000;
  padding: 11px 19px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: 'StoneSansIIITCW01-Bk', sans-serif;
  margin-bottom: 25px;
  border-radius: 0; }

button.submit {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: 'Prelo Slab W01 Bold', serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #000000;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  transition: .2s ease;
  color: #ffffff; }
  button.submit:hover {
    color: #000000;
    text-decoration: none; }
    button.submit:hover span svg path {
      stroke: #000000; }
  button.submit span {
    margin-left: 14px; }
    button.submit span svg path {
      transition: .2s ease; }

:-ms-input-placeholder {
  color: #000000;
  opacity: 1; }

::placeholder {
  color: #000000;
  opacity: 1; }

.opt-out-info {
  margin-top: 20px; }
  .opt-out-info label {
    font-size: 12px;
    color: #ffffff;
    font-family: 'StoneSansIIITCW01-Bk', sans-serif; }
    .opt-out-info label a {
      color: #ffffff;
      text-decoration: underline; }

.request-options {
  margin: 12px 0 22px 0; }

label {
  color: #ffffff;
  font-size: 16px;
  font-family: 'StoneSansIIITCW01-Bk', sans-serif;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  label.error {
    margin-top: -25px;
    display: block;
    margin-bottom: 25px;
    font-family: 'StoneSansIIITCW01-Bk', sans-serif;
    font-style: italic; }
  label.checkbox-true {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding-right: 25px; }
  label input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    opacity: 0; }
  label .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    border: 2px solid #ffffff;
    left: 50%; }
    label .checkmark.opt-out-check {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      left: 0; }
    label .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 7px;
      height: 13px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  label input:checked + .checkmark {
    background-color: #000000;
    border: none; }
  label input:checked + .checkmark:after {
    display: block; }

@media only screen and (max-width: 1200px) {
  section.global-intro .hex-grid a:last-child {
    margin-top: -45px; }
  .country-info .overlay {
    background: linear-gradient(to right, white 0%, white 10%, rgba(255, 255, 255, 0) 100%), linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.75) 15%, rgba(255, 255, 255, 0) 30%); } }

@media only screen and (max-width: 992px) {
  header.hero-bg .hero-overlay .text {
    max-width: 100%; }
  section.global-intro .hex-grid a:last-child {
    margin-top: -35px; }
  .panel-body .list-content {
    margin-left: 0; } }

@media only screen and (max-width: 767px) {
  header.hero-bg .hero-overlay .text h1 {
    font-size: 80px;
    line-height: 80px; }
  section.glocal {
    background-color: #ffffff;
    padding-bottom: 147px; }
    section.glocal .glocal-col:last-of-type {
      margin-top: 100px; }
    section.glocal .glocal-col .image--hex {
      text-align: center; }
      section.glocal .glocal-col .image--hex img {
        margin-bottom: 44px; }
  section.global-intro .hex-grid {
    margin-top: 30px; }
    section.global-intro .hex-grid a:last-child {
      margin-top: -50px; }
  .modal-new-map .inner-modal h3 {
    font-size: 28px; }
  .country-info .overlay {
    background: linear-gradient(to right, white 0%, white 10%, rgba(255, 255, 255, 0) 100%), linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.75) 15%, rgba(255, 255, 255, 0) 55%); } }

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 32px;
    line-height: 1.25em; }
  p, ul, li {
    font-size: 18px;
    line-height: 1.25em; }
  a.red-full, a.dark-ghost {
    font-family: "Prelo Slab W01 Bold";
    font-size: 18px; }
  .nav {
    padding: 30px 20px 45px; }
    .nav .logo img {
      width: 100%;
      height: auto;
      max-width: 60px; }
    .nav .cta {
      font-size: 13px; }
      .nav .cta .download-report {
        white-space: nowrap;
        margin-right: 5px; }
        .nav .cta .download-report a span {
          margin-left: 3px; }
          .nav .cta .download-report a span svg {
            width: 20px; }
      .nav .cta .social-icons ul {
        margin: 0; }
        .nav .cta .social-icons ul li {
          margin: 0 3px; }
    .nav.solid {
      padding: 20px; }
  header.hero-bg {
    min-height: 80vh;
    padding-bottom: 100px;
    background-position: center; }
    header.hero-bg .hero-overlay {
      text-align: center; }
      header.hero-bg .hero-overlay .container .text {
        max-width: 100%; }
        header.hero-bg .hero-overlay .container .text h1 {
          font-size: 50px;
          line-height: 50px; }
        header.hero-bg .hero-overlay .container .text h1::after {
          margin: 30px auto; }
    header.hero-bg .scroll-down {
      position: absolute;
      bottom: -61px;
      text-align: center;
      z-index: 2;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; }
      header.hero-bg .scroll-down svg {
        margin-left: 0px;
        max-width: 120px;
        height: auto; }
  section.global-intro {
    padding: 100px 0; }
    section.global-intro .hex-grid a:last-child {
      margin-top: -50px; }
  .panel {
    padding: 58px 0; }
    .panel h4 {
      font-size: 32px; }
      .panel h4 div span svg {
        max-width: 20px; }
  section.map-section h2 {
    font-size: 32px; }
  section.map-section p.map-lead {
    font-size: 18px; }
  .country-info .country-text h2 {
    font-size: 38px; }
  .modal .form-modal {
    padding: 60px; }
  label .checkmark {
    right: 0;
    left: auto; }
  footer {
    text-align: center; }
    footer img {
      max-width: 80px;
      margin: 0; }
    footer p {
      margin-bottom: 30px; }
    footer ul {
      margin: 20px 0;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      display: -ms-flexbox;
      display: flex; }
      footer ul li {
        font-size: 14px; }
    footer p.disclaimer {
      text-align: center; } }

@media only screen and (max-width: 420px) {
  .nav {
    padding: 20px;
    -ms-flex-direction: row;
        flex-direction: row; }
    .nav .cta {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row; }
      .nav .cta .download-report {
        margin: 15px 0;
        -ms-flex-pack: center;
            justify-content: center;
        margin-right: 15px; }
        .nav .cta .download-report img {
          max-width: 30px; }
        .nav .cta .download-report a:first-child {
          margin-right: 0; }
  section.global-intro .hex-grid a:last-child {
    margin-top: -38px; } }

/** IE11 Media Queries **/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
